#menu
{
font-size:200%;
background-color:red;
}
#lapaz
{
font-size:200%;
background-color: #FFFFFFF3;
}
#enviar
{
font-size:150%;
background-color: #FFFFFF80;
}
img
{
height:150px;
width:200px;
}
table
{
background-color: #FFFFFF80; 
}
#time
{
font-size:130%;
background-color:#ffa420;
}