#historia
{
font-size:250%;
color:purple;
}
h1
{
text-align:center;
text-decoration:underline;
background-color:orange;
}
img
{
height:250px;
width:350px;
}
p
{
background-color:#FFFFFFF0;
}
#menu
{
font-size:150%;
background-color:red;
}
table
{
background-color:#FFFFFF80;
}