#tpro
{
background-color:#FFFFFF80;
font-size:150%;
}
h1
{
text-align:center;
background-color:orange;
text-decoration:underline;
}
table
{
background-color:#FFFFFF80;
}
#menu
{
font-size:150%;
background-color:red;
}
img
{
height:150px;
width:200px;
}