h1
{
text-align:center;
background-color:orange;
text-decoration:underline;
}
#menu
{
font-size:150%;
background-color:red;
}
table
{
background-color: #FFFFFF80;
border-style:inset;
border-color:orange;
}
img
{
height:150px;
width:200px;
}
#tpromo
{
font-size:150%;
color:blue;
}